.Checkout{
    border: 1px solid #ccc;
    background-image: url(/workspaces/OccupationalSpecialism_Task2_Mascarenhas_S/RZA_Frontend/src/assets/checkoutImage.jpeg);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  border-radius: 10px;
}