body {
  text-align: center;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: calc(25% - 12px); /* Adjusted width for responsiveness */
  margin: 6px 0; /* Added margin to create space between items */
}

div.gallery {
  border: 1px solid #ccc;
background-image: url(/workspaces/OccSpec_Task2/Task2_frontend/src/assets/greenBackground.jpg);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  height: auto; /* Set a fixed height for all gallery divs */
  border-radius: 10px;
}

div.gallery:hover {
  border: 1px solid #000000;
}

div.desc {
  padding: 5px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 900px) {
  .responsive {
    width: calc(100% - 12px); /* Adjusted width for responsiveness */
  }
}

@media only screen and (max-width: 600px) {
  .responsive {
    width: calc(100% - 12px); /* Adjusted width for responsiveness */
  }
}

@media only screen and (max-width: 400px) {
  .responsive {
    width: 100%; /* Full width for smaller screens */
  }
}
