h1 {
  text-align: center;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Facilities {
  border: 1px solid black;
  background-image: url(/workspaces/OccSpec_Task2/Task2_frontend/src/assets/greenBackground.jpg);
  text-align: center;
  font-family: Poppins;
  border-radius: 10px;
}

.Attractions {
  border: 1px solid black;
  background-image: url(/workspaces/OccSpec_Task2/Task2_frontend/src/assets/greenBackground.jpg);
  text-align: center;
  font-family: Poppins;
  border-radius: 10px;
}

.Tickets {
  border: 1px solid black;
  background-image: url(/workspaces/OccSpec_Task2/Task2_frontend/src/assets/greenBackground.jpg);
  box-shadow: 2px;
  text-align: center;
  font-family: Poppins;
  border-radius: 10px;
}

.Rooms {
  border: 1px solid black;
  background-image: url(/workspaces/OccSpec_Task2/Task2_frontend/src/assets/greenBackground.jpg);
  text-align: center;
  font-family: Poppins;
  border-radius: 10px;
}

.home {
  border: 1px solid black;
  background-image: url(/workspaces/OccSpec_Task2/Task2_frontend/src/assets/greenBackground.jpg);
  text-align: center;
  font-family: Poppins;
  font-size: 19px;
  border-radius: 10px;
}

input::-ms-reveal {
  display: none;
}

/* Add media queries for responsiveness */
@media (max-width: 1000px) {
  .col {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .gallery {
    height: 200px; /* Set a fixed height for all gallery divs */
    display: flex;
    flex-direction: column;
  }

  .gallery img {
    max-width: 100%; /* Ensure images don't exceed the width of their containers */
    max-height: 100%; /* Ensure images don't exceed the height of their containers */
  }
}

/* Additional styling for smaller screens if needed */
@media (max-width: 576px) {
  h1 {
    font-size: 30px;
  }
}
