.mask{
    background-image: url(/workspaces/OccSpec_Task2/Task2_frontend/src/assets/greenBackground.jpg) ;
}

.Display{
    background-image: url(/workspaces/OccSpec_Task2/Task2_frontend/src/assets/greenBackground.jpg);
}

.ImageRoom{
    width: 270px;
    height: 200px;
    border-radius: 5px;
}

.DispayButton{
    background-color: rgb(188, 226, 184);
    border-radius: 10px;
}


body, html {
    height: 100%;
    margin: 10px;
}


.BookingSummary{
    margin-left: auto;

}


.Booking{
    background-color: rgb(94, 189, 94);
    width: auto;
    font-size: 20px;
    border-radius: 10px;
}

.Booking:hover{
    background-color: green;
}

.RoomBookingSummary{
    border: 1px solid black;
    border-radius: 10px;
    
}

.Roomss{
    align-items: center;
    margin-left: 50px;
}

.RoomsTxt{
    font-size: 20px;
}

.RoomBookings1{
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto; /* Center the element horizontally */
    width: fit-content; /* Adjust width to fit content */
    padding: 20px; 
}