input {
  border: 1px solid green;
  border-radius: 5px;
  width: 100%;
  transition: border-color 0.3s;
  color:black;
}

input:hover {
  border: solid green;
}

input:focus {
  border-color: green;
}

.Signup {
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.Signup:hover {
    background-color: rgba(29, 173, 41, 0.973);
    color: rgb(0, 0, 0);
}


.SignIn{
    border: 1px solid black;
background-image: url(/workspaces/OccSpec_Task2/Task2_frontend/src/assets/greenBackground.jpg);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(5, 4, 4);
  border-radius: 10px;
}