.TicketSummary{
  align-items: center;
  width: 500px;
  margin-left:35%;
  background-image: url(/workspaces/OccSpec_Task2/Task2_frontend/src/assets/greenBackground.jpg);
  background-size: auto;
  border-radius: 20px;
}

.summaryhead{
  font-size: 25px;
  font-weight: bold;
}

.summaryText{
  font-size: 17px;
}