.TicketSummary{
  align-items: center;
  width: 500px;
  margin-left:35%;
  background-image: url(/workspaces/OccupationalSpecialism_Task2_Mascarenhas_S/RZA_Frontend/src/assets/greenBackground.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 20px;
}

.summaryhead{
  font-size: 25px;
  font-weight: bold;
}

.summaryText{
  font-size: 17px;
}